{% extends 'includes/header.html' %}
{%block title %}
  Add recipe - Share your favorite recipes
{% endblock %}
{%block body %}
<!-- Main Content -->
      <div class="container-fluid dash">
        <section class="content-dash container">
          <div class="row">
            <div class="col-md-6">
              <div class="card form-card animated fadeIn">
                <div class="card-header text-center">
                  <h6 class="text-success">Add recipe</h6>
                  
                </div>
                <div class="card-body">
                  {% with success_message = get_flashed_messages(category_filter=["successMessage"]) %}
                      {% for success_msg in success_message %}
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                          {{success_msg }}
                        </div>
                      {% endfor %}
                    {% endwith %}
                    {% with error_message = get_flashed_messages(category_filter=["errorMessage"]) %}
                      {% for error_msg in error_message %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                          {{error_msg }}
                        </div>
                      {% endfor %}
                    {% endwith %}
                    {% with errors = get_flashed_messages(category_filter=["error"]) %}
                        {% if errors|length > 0 %}
                          {% set errors = errors[0] %}
                        {% endif %}
                  <form method="POST" action="">
                    {{ form.csrf_token }}
                    <div class="form-group">
                      <div class="input-group">
                        <span class="input-group-btn">
                          <button class="btn btn-label" type="button" tabindex="-1"><i class="ion-ios-nutrition"></i></button>
                        </span>
                        {{form.name(placeholder="Recipe name ...",class="form-control gr-input")}}
                      </div>
                      {% if errors.name %}
                        <span class="text-danger">
                          {% for error in errors.name %}
                              {{ error }}
                          {% endfor %}
                        </span>
                      {% endif %}
                    </div>
                    <div class="form-group">
                      <div class="input-group">
                        <span class="input-group-btn">
                          <button class="btn btn-label" type="button" tabindex="-1"><i class="ion-icecream"></i></button>
                        </span>
                        {{ form.category(class="form-control gr-input")}}
                      </div>
                      {% if errors.category %}
                        <span class="text-danger">
                          {% for error in errors.category %}
                              {{ error }}
                          {% endfor %}
                        </span>
                      {% endif %}
                    </div>
                    <div class="form-group">
                      <div class="input-group">
                        <span class="input-group-btn gr-group">
                          <button class="btn btn-label-texarea" type="button" tabindex="-1"><i class="ion-android-restaurant"></i></button>
                        </span>
                        {{ form.description(class="form-control gr-textarea",placeholder="Recipe description ...")}}
                      </div>
                      {% if errors.description %}
                        <span class="text-danger">
                          {% for error in errors.description %}
                              {{ error }}
                          {% endfor %}
                        </span>
                      {% endif %}
                    </div>
                    <div class="form-group text-center">
                      <br><br>
                        <button type="submit" name="save" class="btn btn-success">Save recipe</button>
                    </div>
                    {% endwith %}
                  </form>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card form-card animated fadeIn" id="recent-recipes">
                <div class="card-header text-center">
                  <h6 class="text-success">Recently added recipes</h6>
                </div>
                <div class="card-body recent-recipes">
                      {% for recent_recipe in recent_recipes %}
                      <div class="card animated fadeIn">
                        <div class="card-header">
                          {{recent_recipe['name']}}
                        </div>
                        <div class="card-body">
                          <p>
                            {{recent_recipe['description']}}
                          </p>
                        </div>
                      </div>
                      {% else %}
                      <div class="col-md-12 alert alert-light">
                        <p class="text-muted">
                          No Recent added recipes
                        </p>
                      </div>
                      {% endfor %}
                      <div class="divider"> </div>
                </div>
                {% if recipes | length > 0 %}
                <div class="card-body text-center">
                  <a href="{{ url_for('recipes') }}">
                    <span class="btn btn-sm btn-success">View all recipes
                    <span class="badge bg-light badge-pill text-success">{{recipes | length}}</span>
                    </span>
                  </a>
                </div>
                {% endif %}
              </div>
            </div>
        </section>
      </div>
<!--/Main Content-->
{% endblock %}